{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-theme" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form id="form-theme" action="{{ save }}" method="post" data-oc-toggle="ajax">
            <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="#tab-setting" data-bs-toggle="tab" class="nav-link active">{{text_general}}
           </a>
            </li>
              <li class="nav-item">
              <a href="#tab-update" data-bs-toggle="tab" class="nav-link">{{tab_upgrade}}</a>
            </li>
          </ul>
            <div class="tab-content">
            <div class="tab-pane active" id="tab-setting">
            <div class="row mb-3">
              <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
              <div class="col-sm-10">
                <div class="form-check form-switch form-switch-lg">
                  <input type="checkbox" name="websky_default" value="1" id="input-status" class="form-check-input" checked/>
                  <input type="checkbox" name="theme_websky_default_status" value="1" id="input-status" class="form-check-input"{% if theme_websky_default_status %} checked{% endif %}/>
                </div>
              </div>
            </div>
            </div>
                            <div class="tab-pane" id="tab-update">
                     <fieldset>
              <legend>{{ text_information }}</legend>
             <div class="row mb-3">
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_current_version }}</strong>
                  <br/>
                  <input type="hidden" name="module_websky_faq_current_version" value="{{ current_version }}"/>
                  <span{% if upgrade %} class="text-danger"{% endif %}>{{ current_version }}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_latest_version }}</strong>
                  <br/>
                  {{ latest_version }}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-control border rounded-start">
                <div class="lead"><strong>{{ text_date_added }}</strong>
                  <br/>
                  {{ date_added }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-control border rounded-start">
            <div class="lead"><strong>{{ text_change }}</strong>
              <br/>
              {{ log }}
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{{ text_status }}</legend>
          <div class="input-group input-group-lg">
            <button type="button" id="button-upgrade" class="btn btn-warning btn-lg"{% if not upgrade %} disabled{% endif %}><i class="fa-solid fa-level-up-alt"></i> {{ button_upgrade }}</button>
            <input type="text" id="input-upgrade" value="{{ text_ready }}" class="form-control bg-white" readonly/>
          </div>
        </fieldset>
                </div> 

            
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
   <script type="text/javascript">
$('#button-upgrade').on('click', function () {
    var element = this;

    $(element).button('loading');

    $('#progress').html('{{ text_download|escape('js') }}');

    var next = 'index.php?route=extension/websky_default/theme/websky_default.download&user_token={{ user_token }}&version={{ latest_version }}&extension_name=websky_default';

    var upgrade = function () {
        return $.ajax({
            url: next,
            dataType: 'json',
            success: function (json) {
                $('#input-upgrade').removeClass('is-valid is-invalid');

                if (json['error']) {
                    $('#input-upgrade').val(json['error']);
                    $('#input-upgrade').addClass('is-invalid');

                    $(element).button('reset');
                }

                if (json['text']) {
                    $('#input-upgrade').val(json['text']);
                }

                if (json['success']) {
                    $('#input-upgrade').val(json['success']);
                    $('#input-upgrade').addClass('is-valid');

                    $(element).button('reset');
                    
                }
                
                if (json['next']) {
                    next = json['next'];

                    chain.attach(upgrade);
                    
                }
                if (!json['next']) {
                location.reload();
                }
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);

                $(element).button('reset');
            }
        });
    };

    chain.attach(upgrade);
});
</script>
{{ footer }}
